#Langchain
langchain
langchain-community
python-dotenv

#delete all of the requirments except your AI provider
langchain-groq
langchain-openai
langchain-anthropic
langchain-ollama


#miscellaneous
ddgs
numpy
asyncio